:root.theme-dark {
  --background-image: url("../images/cover-image-dark.png");
  --background-color: #ff0070;
  --text-color: #000028;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --sub-text-color: #F1B2CE;
  --shadow-color:#FF0070;
  --heading-color:#ff0070;
}