:root.theme-light {
  --backgroung-image: url("../images/cover-image-light.png");
  --background-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --text-in-accent: #353430;
}