.header {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  min-height: 668px;
  padding: 10px 10px 0 10px;
  position: relative;
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
  position: relative;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding-top: 62px;
  border: none;
  color: var(--accent-color);
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 18px;
}

.header__theme-menu-button {
  background: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  width: 70px;
  height: 26px;
  display: inline-block;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
  outline: none;
}

.highlighted {
  color: var(--accent-color);
  text-decoration: none;
}

.highlighted:hover {
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
}

.highlighted:focus-visible {
  outline: 1px solid var(--accent-color);
}

.header__rec {
  display: grid;
  grid-template-columns: auto 9px;
  align-items: center;
  gap: 9px;
  position: absolute;
  color: var(--accent-color);
  font-size: 18px;
  right: 15px;
  top: 10px
}

.header__rec::after {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  grid-column: 2;
}

.header__content {
  display: grid;
  grid-template-rows: auto auto auto;
  align-content: center;
  gap: 5px;
  justify-items: start;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  padding-bottom: 50px;
}

.decor__main-text {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 116px;
  font-weight: bold;
}

.title-decor {
  color: var(--text-color);
  background-color: var(--accent-color);
  font-size: 18px;
  font-family: 'IBM Plex mono',sans-serif;
  font-weight: bold;
  padding-top: 55px;
  display: block;
  overflow: hidden;
}

.header__content-paragraph {
 display: block;
}

.main {
  display: grid;
  padding: 35px 10px 0 10px;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 33px;
}

.special__title-decor {
  color: var(--accent-color);
  font-size: 18px;
  font-family: 'IBM Plex mono',sans-serif;
  font-weight: bold;
}

.section__title {
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 20px;
}

.subsection {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 20px;
}

.subsection__title {
  font-size: 18px;
  line-height: 1.3;
  padding: 0 10px;
  padding-left: 0;
  margin-bottom: 10px;
}

.subsection__title-tips {
 margin-bottom: 27px;
}

.subsection__content {
  font-size: 18px;
  margin-bottom: 30px;
}

.section .subsection {
  margin-bottom: -8px;
}

.text__description {
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: var(--sub-text-color);
  display: inline;
}

.tip {
  display: grid;
  grid-template-rows: auto 1fr;
  margin-bottom: 20px;
}

.tip__title {
  font-size: 18px;
  line-height: 1.3;
  font-family: 'IBM Plex mono', sans-serif;
  font-weight: normal;
  padding: 0 10px;
  background-color: var(--background-color);
  color: var(--text-color);
  padding-left: 0;
  margin-bottom: 10px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery img {
  width: 100%;
  height: auto;
  display: block;
}

.footer {
  display: grid;
  place-items: center;
  height: 100vh;
  min-height: 200px;
  padding: 20px;
  position: relative;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  height: 668px;
  padding-top: 286px;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color);
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-left: none;
  border-bottom: none;
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-right: none;
  border-top: none;
}

.page {
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

@media (width >= 768px) {
  .header {
    max-height: 1004px;
  }

  .header__theme-menu-list {
   padding-top: 167px;
   margin-bottom: 20px;
  }

  .header__title {
    padding-bottom: 151px;
    margin-left: -13px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__subsection {
    text-align: left;
    justify-self: end;
    max-width: 364px;
  }

  .main {
    margin-top: 30px;
  }

  /* ПЕРВАЯ СЕКЦИЯ */
  .section:first-of-type {
    display: grid;
    grid-template-columns: 236px 472px;
    margin-bottom: 50px;
    gap: 20px;
  }

  .subsection__content {
   margin-bottom: 10px;
  }

  .section {
    padding-bottom: 32px;
  }

  .section:first-of-type > .section__title {
    grid-column: 1;
    grid-row: 1 / span 2;
    width: 236px;
    margin: 0;
    align-self: start;
  }
  
  .section:first-of-type > .subsection:nth-of-type(1) {
    grid-column: 2;
    grid-row: 1;
    width: 472px;
  }
  
  .section:first-of-type > .subsection:nth-of-type(2) {
    grid-column: 2;
    grid-row: 2;
    width: 472px;
  }
  
  .section:first-of-type .text__description {
    width: 100%;
    text-align: justify;
  }
  /* ВТОРАЯ СЕКЦИЯ */
  .section:nth-of-type(2) {
    display: block;
    gap: 20px;
  }
  
  .section:nth-of-type(2) > .section__title {
    width: 236px;
  }
  
  .section:nth-of-type(2) .subsection {
    max-width: 100%;
    margin-bottom: 10px;
  }
  /* ТРЕТЬЯ СЕКЦИЯ */
  .section:nth-of-type(3) {
    display: grid;
    grid-template-columns: 236px 472px;
    gap: 20px;
  }

  .subsection__title-tips {
    margin-bottom: 10px;
  }

  .section:nth-of-type(3) > .section__title {
    grid-column: 1;
    grid-row: 1 / span 2;
    width: 236px;
    margin: 0;
    align-self: start;
  }

  .section:nth-of-type(3) > .subsection:nth-of-type(1) {
    grid-column: 2;
    grid-row: 1;
    width: 472px;
  }
  
  .section:nth-of-type(3) > .tips-grid {
    grid-column: 2;
    grid-row: 2;
    width: 472px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px 230px 318px;
    gap: 22px;
    margin-top: 10px;
  }

  .gallery img:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1;
  }
  
  .gallery img:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / span 2;
    height: 440px;
    object-fit: cover;
  }
  
  .gallery img:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / span 2;
    height: 565px;
    object-fit: cover;
  }
  
  .gallery img:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
    width: 230px;
    height: 230px;
    align-self: center;
    justify-self: center;
    object-fit: contain;
  }
  
  .gallery img:nth-child(5) {
    grid-column: 2 / span 2;
    grid-row: 3;
    height: 313px;
  }

  .footer {
    max-height: 1004px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
 .header {
    display: grid;
    grid-template-rows: auto 1fr;
    max-height: 750px;
  }
  
  .header__theme-menu {
    grid-row: 1;
    justify-self: center;
  }
  
  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding-top: 0;
    margin-left: 20px;
  }

  .header__rec {
    position: absolute;
    right: 20px;
    top: 10px;
  }

  .header__title {
    margin-top: 130px;
    margin-left: 0;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    justify-self: start;
  }

  .header__subsection {
    margin-top: -40px;
    text-align: left;
    justify-self: end;
    max-width: 496px;
  }

  .main {
    margin-top: 30px;
  }
  /* ПЕРВАЯ СЕКЦИЯ */
  .section:first-of-type {
    display: grid;
    grid-template-columns: 314px 648px;
    margin-bottom: 50px;
    gap: 40px;
  }

  .subsection__content {
   margin-bottom: -3px;
  }

  .section {
    padding-bottom: 40px;
  }

  .section:first-of-type > .section__title {
    grid-column: 1;
    grid-row: 1 / span 2;
    width: 314px;
    margin: 0;
    align-self: start;
    margin-left: 20px;
  }
  
  .section:first-of-type > .subsection:nth-of-type(1) {
    grid-column: 2;
    grid-row: 1;
    width: 648px;
  }
  
  .section:first-of-type > .subsection:nth-of-type(2) {
    grid-column: 2;
    grid-row: 2;
    width: 648px;
  }
  
  .section:first-of-type .text__description {
    width: 100%;
    text-align: justify;
  }
   /* ВТОРАЯ СЕКЦИЯ */
  .section:nth-of-type(2) {
    display: grid;
    grid-template-columns: repeat(3, 315px);
    grid-template-rows: auto 1fr;
    gap: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
  }

  .section:nth-of-type(2) > .section__title {
    grid-column: 1 / span 3;
    grid-row: 1;
    width: 315px;
    margin-bottom: 0;
    text-align: left;
  }
  
  .section:nth-of-type(2) > .subsection:nth-of-type(1) {
    grid-column: 1;
    grid-row: 2;
    width: 315px;
  }
  
  .section:nth-of-type(2) > .subsection:nth-of-type(2) {
    grid-column: 2;
    grid-row: 2;
    width: 315px;
  }
  
  .section:nth-of-type(2) > .subsection:nth-of-type(3) {
    grid-column: 3;
    grid-row: 2;
    width: 315px;
  }
  
  .section:nth-of-type(2) > .subsection {
    align-self: start;
  }
  
  .section:nth-of-type(2) .text__description {
    display: block;
    width: 100%;
    text-align: justify;
  }
  
  .section:nth-of-type(2) .subsection__title {
    width: 100%;
    margin-bottom: 15px;
  }
  /* ТРЕТЬЯ СЕКЦИЯ */
  .section:nth-of-type(3) {
    display: grid;
    grid-template-columns: 314px 648px;
    gap: 20px;
    margin-left: 20px;
    margin-bottom: 25px;
  }

  .subsection__title-tips {
    margin-bottom: 10px;
  }

  .section:nth-of-type(3) > .section__title {
    grid-column: 1;
    grid-row: 1 / span 2;
    width: 310px;
    margin: 0;
    align-self: start;
  }

  .section:nth-of-type(3) > .subsection:nth-of-type(1) {
    grid-column: 2;
    grid-row: 1;
    width: 648px;
  }
  
  .section:nth-of-type(3) > .tips-grid {
    grid-column: 2;
    grid-row: 2;
    width: 648px;
  }
  .title-decor_photo {
    margin-left: 20px;
  }
  .gallery {
    grid-template-columns: repeat(3, 315px);
    grid-template-rows: 260px 315px 433px;
    gap: 22px;
    margin-top: 10px;
    margin-left: 20px;
  }

  .gallery img:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1;
  }
  
  .gallery img:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / span 2;
    height: 595px;
    object-fit: cover;
  }
  
  .gallery img:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / span 2;
    height: 768px;
    object-fit: cover;
  }
  
  .gallery img:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
    width: 315px;
    height: 315px;
    align-self: center;
    justify-self: center;
    object-fit: contain;
  }
  
  .gallery img:nth-child(5) {
    grid-column: 2 / span 2;
    grid-row: 3;
    height: 433px;
  }

  .footer {
    max-height: 768px;
  }

   .footer__title {
    margin-bottom: 70px;
    margin-left: 20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}