.header {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  max-height: 668px;
  padding: 10px 10px 0 10px;
  position: relative;
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
  position: relative;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding-top: 65px;
  border: none;
  color: var(--accent-color);
  font-family: "IBM Plex mono", monospace;
  font-size: 18px;
  font-weight: normal;
  line-height: 18px;
}

.header__theme-menu-button {
  background: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  width: 70px;
  height: 26px;
  display: inline-block;
  cursor: pointer;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button:focus-visible {
  outline: 1px solid var(--accent-color);
}

.highlighted {
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--shadow-color);
}

.highlighted:hover {
  border-bottom: 1px solid var(--accent-color);
}

.highlighted:focus-visible {
  outline: 1px solid var(--accent-color);
}

.header__rec {
  font-family: "IBM Plex Mono", monospace;
  display: grid;
  grid-template-columns: auto 9px;
  align-items: center;
  gap: 9px;
  position: absolute;
  color: var(--accent-color);
  font-size: 18px;
  right: 20px;
  top: 10px;
}

.header__rec::after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  grid-column: 2;
}

.header__content {
  display: grid;
  grid-template-rows: auto auto auto;
  align-content: center;
  gap: 55px;
  justify-items: start;
  padding-top: 65px;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  padding-bottom: 0px;
}

.decor__main-text {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--shadow-color);
  font-family: "IBM Plex mono", monospace;
  font-weight: bold;
}

.title-decor {
  color: var(--text-color);
  background-color: var(--heading-color);
  font-size: 18px;
  font-family: "IBM Plex mono", monospace;
  font-weight: bold;
  padding-top: 55px;
  display: block;
  overflow: hidden;
}

.header__content-paragraph {
  display: block;
}

.main {
  display: grid;
  padding: 40px 10px 0 10px;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 30px;
}

.special__title-decor {
  color: var(--accent-color);
  font-size: 18px;
  font-family: "IBM Plex mono", monospace;
  font-weight: bold;
}

.section__title {
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 20px;
}

.subsection__title {
  font-size: 18px;
  line-height: 1.3;
  padding: 0 10px;
  padding-left: 0;
  margin-bottom: 10px;
}

.subsection__title-tips {
  margin-bottom: 20px;
}

.subsection__content {
  font-size: 18px;
  margin-bottom: 20px;
}

.text__description {
  font-family: "IBM Plex mono", monospace;
  font-size: 18px;
  font-weight: normal;
  color: var(--sub-text-color);
  display: block;
  line-height: 23.4px;
}

.tip {
  display: grid;
  grid-template-rows: auto 1fr;
}

.tip__title {
  font-size: 18px;
  line-height: 1.3;
  font-family: "IBM Plex mono", monospace;
  font-weight: normal;
  padding: 0 10px;
  background-color: var(--heading-color);
  color: var(--text-color);
  padding-left: 0;
  margin-bottom: 10px;
}

.tip__description {
  margin-bottom: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-bottom: 10px;
}

.gallery img {
  width: 100%;
  height: auto;
  display: block;
}

.footer {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100vh;
  max-height: 668px;
  padding: 20px;
  position: relative;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  justify-self: start;
}

.footer__content {
  position: relative;
  right: 8px;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color);
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-left: none;
  border-bottom: none;
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-right: none;
  border-top: none;
}

.page {
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

@media (width >= 768px) {
  .page {
    padding-left: 10px;
    padding-top: 10px;
  }
  .header {
    min-height: 1004px;
  }

  .header__theme-menu-list {
    padding-top: 171px;
  }

  .header__title {
    padding-bottom: 105px;
    transform: translateX(-20px);
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__content {
    gap: 55px;
  }

  .header__subsection {
    text-align: left;
    justify-self: end;
    max-width: 364px;
  }

  .main {
    margin-top: 30px;
  }

  /* ПЕРВАЯ СЕКЦИЯ */
  .section__focus-hard {
    grid-template-columns: 236px 472px;
    grid-template-rows: auto auto auto auto;
    gap: 20px;
    row-gap: 0px;
    padding-bottom: 30px;
  }

  .section__focus-hard > .section__title {
    grid-column: 1;
    grid-row: 1 / span 4;
    max-width: 236px;
    align-self: start;
  }

  .section__focus-hard > .subsection__title:nth-of-type(1) {
    grid-column: 2;
    grid-row: 1;
  }

  .section__focus-hard > .subsection__content:nth-of-type(1) {
    grid-column: 2;
    grid-row: 2;
  }

  .section__focus-hard > .subsection__title:nth-of-type(2) {
    grid-column: 2;
    grid-row: 3;
  }

  .section__focus-hard > .subsection__content:nth-of-type(2) {
    grid-column: 2;
    grid-row: 4;
  }

  /* ВТОРАЯ СЕКЦИЯ */
  .section__concentration {
    display: block;
    gap: 20px;
    padding-bottom: 30px;
  }

  .section__concentration > .section__title {
    max-width: 236px;
  }

  /* ТРЕТЬЯ СЕКЦИЯ */
  .section__control {
    grid-template-columns: 236px 472px;
    gap: 20px;
    margin-bottom: 60px;
  }

  .subsection__title-tips {
    margin-bottom: 0px;
  }

  .section__control > .section__title {
    grid-column: 1;
    grid-row: 1 / span 2;
    max-width: 236px;
    margin: 0;
    align-self: start;
  }

  .section__control > .subsection:nth-of-type(1) {
    grid-column: 2;
    grid-row: 1;
    max-width: 472px;
  }

  .section__control > .tips-grid {
    grid-column: 2;
    grid-row: 2;
    max-width: 472px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px 230px 315px;
    gap: 22px;
    margin-top: 10px;
    margin-bottom: 35px;
  }

  .gallery img:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1;
    height: 100%;
  }

  .gallery img:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / span 2;
    height: 100%;
    object-fit: cover;
  }

  .gallery img:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / span 2;
    height: 100%;
    object-fit: cover;
  }

  .gallery img:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    align-self: center;
    justify-self: center;
    object-fit: contain;
  }

  .gallery img:nth-child(5) {
    grid-column: 2 / span 2;
    grid-row: 3;
    height: 100%;
  }

  .footer {
    min-height: 1004px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: 10px;
  }
}

@media (width >= 1024px) {
  .page {
    max-width: 1014px;
    padding-top: 10px;
    margin-right: 10px;
  }

  .header {
    min-height: 748px;
  }

  .header__theme-menu {
    grid-row: 1;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding-top: 0px;
    margin-left: 5px;
  }

  .header__title {
    justify-self: start;
    margin-top: 190px;
  }

  .header__subsection {
    max-width: 496px;
    transform: translateY(-45px);
  }

  /* ПЕРВАЯ СЕКЦИЯ */
  .section__focus-hard {
    grid-template-columns: 314px 648px;
    gap: 20px;
    row-gap: 0px;
  }

  .section__focus-hard > .section__title {
    max-width: 314px;
  }

  /* ВТОРАЯ СЕКЦИЯ */
  .section__concentration {
    display: grid;
    grid-template-columns: repeat(3, 315px);
    grid-template-rows: auto auto auto;
    margin-bottom: 8px;
  }

  .section__concentration > .section__title {
    grid-column: 1;
    grid-row: 1;
    min-width: 315px;
    margin: 0;
    text-align: left;
  }

  .section__concentration > .subsection__title:nth-of-type(1) {
    grid-column: 1;
    grid-row: 2;
    min-width: 315px;
  }

  .section__concentration > .subsection__title:nth-of-type(2) {
    grid-column: 2;
    grid-row: 2;
    min-width: 315px;
  }

  .section__concentration > .subsection__title:nth-of-type(3) {
    grid-column: 3;
    grid-row: 2;
    min-width: 315px;
  }

  .section__concentration > .subsection__content:nth-of-type(1) {
    grid-column: 1;
    grid-row: 3;
    min-width: 315px;
  }

  .section__concentration > .subsection__content:nth-of-type(2) {
    grid-column: 2;
    grid-row: 3;
    min-width: 315px;
  }

  .section__concentration > .subsection__content:nth-of-type(3) {
    grid-column: 3;
    grid-row: 3;
    min-width: 315px;
  }

  .section__concentration .text__description {
    display: block;
    width: 100%;
    text-align: justify;
    transform: translateY(-20px);
  }

  /* ТРЕТЬЯ СЕКЦИЯ */
  .section__control {
    grid-template-columns: 314px 648px;
  }

  .section__control > .section__title {
    min-width: 314px;
  }

  .section__control > .subsection:first-of-type {
    min-width: 648px;
  }

  .section__control > .tips-grid {
    min-width: 648px;
  }

  .title-decor_photo {
    margin-left: 20px;
  }

  .gallery {
    grid-template-columns: repeat(3, 315px);
    grid-template-rows: 260px 315px 433px;
  }

  .title__gallery {
    margin-left: 0;
  }

  .gallery img:nth-child(2) {
    height: 595px;
  }

  .gallery img:nth-child(3) {
    height: 768px;
  }

  .gallery img:nth-child(4) {
    width: 315px;
    height: 315px;
  }

  .gallery img:nth-child(5) {
    height: 433px;
  }

  .footer {
    min-height: 748px;
    margin-bottom: 10px;
  }

  .footer__title {
    margin-bottom: 20px;
    margin-left: 20px;
  }
}
