:root {
  --background-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --heading-color: #FF0070;
  --text-in-accent: #000028;
  --sub-text-color: #F1B2CE;
}