:root {
  --background-image:url(../images/cover-image.png);
  --background-color: #000028;
  --text-color: #000028;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --sub-text-color: #F1B2CE;
  --shadow-color:#ff0070;
  --heading-color:#ff0070;
}